<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Data from the WEB API </title>
    <style>
	table, th, td {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
  	color:blue
	}
</style>
</head>
<body>
<table>
    <tr>

        <th> ID </th>
        <th> Email </th>
        <th> First_Name </th>
        <th> Last_Name </th>
    </tr>
    {% for data in User_Data %}
    <tr>
        <td>{{ data.get("id") }}</td>
        <td>{{ data.get("email") }}</td>
        <td>{{ data.get("first_name") }}</td>
        <td>{{ data.get("last_name") }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>